<h3>Here's the cocktail you requested</h3>

<p><%= @cocktail.name %></p>

<!-- should show the recipe -->

<!-- button where you can add dose  -->

<!-- new page = new 'dose page' where you pick the ingredient and write the description -->

<!-- add doses and ingredients -->
<%= link_to 'Back', cocktails_path %>
